Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 140
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentWidth: 4
PointerAlignment: Left
